<header class="header">
  <div class="header__main">
    <div class="header__brand">
      <img
        src="../../assets/photo/logo_app.svg"
        class="header__brand-img"
        alt="Brand logo"
      />
    </div>
  </div>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a routerLinkActive="active" routerLink="/team" class="header__link"
          >Team</a
        >
      </li>
      <li class="header__item">
        <a
          routerLinkActive="active"
          routerLink="/create-player"
          href="#"
          class="header__link"
          >Create player</a
        >
      </li>
      <li class="header__item"><a href="#" class="header__link">Lorem</a></li>
      <li class="header__item"><a href="#" class="header__link">Lorem</a></li>
    </ul>
  </nav>
</header>
