.header {
  &__main {
    padding: 30px 0;
  }
  &__brand {
    width: 100%;
    display: flex;
    align-items: flex-start;
    &-img {
      width: 150px;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: flex-start;
    font-size: var(--fs-XL);
  }

  &__list {
    display: flex;
    padding-left: 0;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;

    text-decoration: none;
    color: var(--clr-text);
    font-weight: 300;
    padding: 10px 20px;
    font-size: var(--fs-L);

    &.active {
      background-color: var(--clr-text);
      color: var(--clr-light-bg);
    }
  }
}
